<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/prompt.css' %}">
</head> 
<body>
    <a href="/" class="btn btn-primary">Back</a>
    <h1> PalorieApp</h1>
    <h2> A GPT-3 Powered Macronutrient Estimation Tool </h2>
    <table>
        <thead>
            <tr>
                <th>Past Entries (in Ascending Order)</th>
            </tr>
        </thead>
        <tbody>
            {% for filename in csv_files %}
                <tr>
                    <td><a href="{% url 'csv_detail' filename %}">{{ filename }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
