<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/prompt.css' %}">
</head> 
<body>
    <h1> Palorie</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Entry on List</th>
                </tr>
            </thead>
            <tbody>
                {% for filename in file_list %}
                <tr>
                    <td><a href="{% url 'entry_detail' filename %}">{{ filename }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/" class="btn btn-primary">Home</a>
</body>
</html>
